body{
    padding:20px 12px;
    background-color:#fafafa
}
/* #tbl{
    margin-top:20px;
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 1000px;
}
.tableLabel{
    margin-top: 30px;
}
table{
    padding-top: none;
} */
.selectBox{
   margin-top: 30px;
}
.template{
    color:#777;    
}